#container {
    background: black;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.star__wars {
    display: flex;
    justify-content: center;

    height: 100%;
    perspective: 300px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5rem;
    font-weight: 600;
    color: yellow;
    letter-spacing: 5px;
    line-height: 1.5em;
    text-align: left;

}
.star__wars-titres {
    position: relative;
    animation: counting__stars 60s linear;
    animation-iteration-count: infinite;
}
.star__wars-titres h2, 
.star__wars-titres h3 {
    margin: 0 0 150px 0;
    text-align: center;
}
.star__wars-titres p {
    margin: 0 0 75px 0;
}

@keyframes counting__stars {
    0% {
        top: 150%;
        transform: rotateX(29deg) translateZ(0);
    }
    100% {
        top: -1000%;
        transform: rotateX(33deg) translateZ(-5000px);
    }
}