/* General font family */
html {
    font-family: 'Maven Pro', sans-serif;
    font-size: 24px;
}

/* Url style configuration */
a, a:active,  a:hover, a:visited {
    color: rgba(0, 0, 0, 255);
    text-decoration: none;
}
.left_menu-navigation a, .footer-navigation-item a {
    color: inherit;
}

/* Main container */
.container {
    margin: 0 auto;
    max-width: 1280px;
    position: relative;
}

/* Header logo*/
.header-logo span {
    color: #4bcaff;
}
.header-logo {
    float: left;
    margin: 61px 0 45px 0;
    font-size: 3.33rem;
    text-align: center;
}

/* Header navigation */
.header-navigation {
    display: block;
    clear: both;
    margin: auto;
    margin-bottom: 51px;
    width: 100%;
    background-color: #35444f;
    text-align: center;
}
.header-navigation-item {
    border: 0;
    margin: 0;
    display: inline-block;
    padding: 26px 41px;
    background-color: #35444f;
    font-size: 1rem;
    text-align: left;
}
.header-navigation-item a {
    color: rgba(255, 255, 255, 255);
}
.header-navigation-item:hover {
    background-color: #222f3a;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
}

.left_menu-navigation, .main__content {
    display: inline-block;
    vertical-align: top;
}

/* Left part */
.left_menu-navigation {
    width: 26.875%;
    border: 1px solid #35444f;
}
.left_menu-navigation-item {
    color: #aab1b6;
    padding: 30px 0 28px 44px;
}
.left_menu-navigation-item:hover {
    color: #000000;
    padding-left: 70px;
    background-color: #dbdbdb;
}

/* Main content part */
.main__content {
    width: 69.141%;
    margin-bottom: 51px; 
}

/* Image part */
.main__content-top__img {
    width: 100%;
    height: 529px;
    border: 1px solid #35444f;
    text-align: center;
}
.main__content-top__img-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.main__content-top__img img {
    vertical-align: middle;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.main__content-top__img:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
.main__content-text {
    color: rgba(44, 44, 44, 255);
    margin-top: 20px;
    text-align: center;
}
.main__content-text-item {
    padding: 30px 40px 0 30px;
    font-size: 0.68rem;
    text-align: left;
    line-height: 1.5em;
    hyphens: auto; 
    -moz-hyphens: auto;
    -ms-hyphens: auto;
}
footer {
    clear: both;
    width: 100%;    
    min-height: 69px;
    display: block;
    margin: 0 auto 30px;
    background: #b4b7ba;
}
.footer-navigation {
    display: block;
    float: left;
    padding: 22px 0 21px 22px;
}
.footer-navigation-item {
    color: #444e58;
    display: inline-block;
    padding-left: 22px;
}
.footer-navigation-item:hover{
    color: #3181a6;
    text-decoration: underline;
}
.footer-copy {
    padding: 25px 34px 21px 0;
    float: right;
}
