#container {
    width: 100%;
    height: 100%;
    /* min-height: 768px; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    color: rgba(255, 255, 255, 255);
    background: 
        linear-gradient(
            0deg,  
            rgba(0, 0, 0, 0.73),  
            rgba(0, 0, 0, 0.73)),
        url(../img/background.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
a, a:link, a:hover, a:visited, a:focus {
    text-decoration: none;
    outline: none;
    color: inherit;
}
.content {
    width: 1065px;
    margin: auto;    
}


/* HEADER */
header {
    width: 100%;
    padding: 49px 0 0 0;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}


/* HEADER>LOGO */
.content-header__logo {
    position: relative;
    float: left;
    height: 44px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
}
.content-header__logo a, 
.content-services a {
    display: block;
}
.content-header__logo-img {
    float: left;
    margin: 0 15px 0 0;
    width: 46px;
    height: 44px;
    background-image: url(../img/mh-logo.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.content-header__logo-name-item1,
.content-header__logo-name-item2 {
    display: inline-block;
    line-height: 0.68em;
    position: absolute;
}
.content-header__logo-name-item1 {
    top: 0;
    font-size: 1.5rem;
}
.content-header__logo-name-item2 {
    bottom: 0.07em;
    font-size: 1rem;
}
.content-header__logo:hover a {
    color: #f26522;
}
.content-header__logo:hover div.content-header__logo-img {
    background-image: url(../img/mh-logo-hover.png)
}


/* HEADER > CONTACTS */
.content-header__contacts {
    float: right;
    position: relative;
    padding: 3.5px 0;
    font-weight: 400;
    font-size: 1rem;
    text-align: right;
}
.content-header__contacts-item.email {
    float: right;
    margin: 0 0 5px 0;
}
.content-header__contacts-item.phone {
    clear: both;
    float: right;
}


/* MAIN SECTION */
section {
    width: 100%;
    margin: 45px 0 0 0;
}
.content-services {
    float: left;
    box-sizing: border-box;
}


/* CONTENT_SERVICES_BLOCKS>MARGIN */
.content-services.service-1 {
    margin: 0 65px 55px 0;
}
.content-services.service-2 {
    margin: 0 64px 55px 0;
}
.content-services.service-3 {
    margin: 0 0 55px 0;
}
.content-services.service-4 {
    margin: 0 65px 0 0;
    clear: both;
}
.content-services.service-5 {
    margin: 0 64px 0 0;
}
.content-services.service-6 {
    margin: 0;
}


/* CONTENT_SERVICES_BLOCKS_IMAGE>BORDERS */
.border__wrapper {
    position: relative;
    background: linear-gradient(to bottom, #ffffff, #000000);
}
.content-services.service-1 .border__wrapper,
.content-services.service-4 .border__wrapper {
    padding: 3px 2px 2px 3px;
}
.content-services.service-2 .border__wrapper,
.content-services.service-3 .border__wrapper {
    padding: 3px 2px 2px 2px;
}
.content-services.service-5 .border__wrapper,
.content-services.service-6 .border__wrapper {
    padding: 3px 2px 1px 2px;
}


/* CONTENT_SERVICES_BLOCKS_IMAGE>IMAGE */
.sevice-image__block img {
    width: 307px;
    height: 200px;
    vertical-align: middle;
}


/* CONTENT_SERVICES_BLOCKS_HEADER */
.content-services__item-service {
    margin: 20px auto 0;
    font-size: 1rem;
    text-align: center;
}


/* FOOTER */
footer {
    width: 100%;
    margin: 57px auto 0;
    padding: 0 0 20px 0;
}

/* FOOTER>LEGAL_NOTICE */
.content-legal__notice {
    margin: auto;
    font-size: 0.66rem;
    text-align: center;
}


/* HOVERING CONTENT_SERVICES_BLOCKS_IMAGE +ANIMATION */
.sevice-image__block {
    position: relative;
    overflow: hidden;
}
.sevice-image__block figcaption,
.sevice-image__block figcaption > a { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.sevice-image__block figcaption {
    top: auto;
    bottom: 0;
    height: 63px;
    background: #f26522;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 101%, 0);
    transform: translate3d(0, 101%, 0);
}
.service-price__block.from,
.service-price__block.amount,
.service-view__details {
    -webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
}
.service-price__block.from {
    float: left;
    padding: 16px 0 0 21px;
    font-size: 0.55rem;
}
.service-price__block.amount {
    clear: both;
    float: left;
    padding: 0 0 17px 21px;
    font-size: 1.1rem;
}
.service-view__details {
    float: right;
    padding: 0 18px 17px 0;
    vertical-align: bottom;
    font-size: 0.77rem;
    line-height: 1.1rem;
}
.service-view__details::after {
    content: '\203a';
    color: #ffffff;
    padding: 0 0 0 15px;
    width: 7px;
    height: 10px;
}
.sevice-image__block:hover figcaption,
.sevice-image__block:hover div.service-price__block.from,
.sevice-image__block:hover div.service-price__block.amount,
.sevice-image__block:hover div.service-view__details,
.sevice-image__block:hover a
{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.sevice-image__block:hover+h3.content-services__item-service a,
h3.content-services__item-service a:hover {
    color: #f26522;
}