html {
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Courier New', sans-serif; */
}

a, a:hover, a:link, a:visited, a:focus {
    text-decoration: none;
}
#container {
    width: auto;
    height: auto;
    /* overflow-x: hidden;
    overflow-y: auto;
    perspective: 1px; */
}
.section-title {
    color: rgba(24, 180, 207, 255);
    font-size: 27px;
    font-weight: 700;
    padding: 61px 0 52px 0;
    text-align: center;
    text-transform: uppercase;
}


/* HEADER BLOCK */

header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1d2124;
    color: rgba(255, 255, 255, 255);
}

.arch__logo-name,
.arch__navigation-item a,
.arch__search a {
    color: inherit;
}
.arch__logo:hover .arch__logo-name,
.arch__navigation-item:hover a,
.arch__search:hover a {
    color: #FF5A5F;
}


/* HEADER BLOCK >> LOGO */

.arch__logo {
    display: flex;
    align-items: center;
    height: 70px;
}
.arch__logo-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 100%;
    background-color: #1a1d20;
}
.arch__logo-name {
    font-size: 22px;
    font-weight: 700;
    color: rgba(255, 255, 255, 255);
}


/* HEADER BLOCK >> NAVIGATION PAN */

.arch__navigation {
    width: 60%;
}
.arch__navigation ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
.arch__navigation-item {
    text-transform: uppercase;
    padding: 0 18px;
    font-size: 15px;
    cursor: pointer;
}

.arch__navigation-item:hover a {
    background-image: url(
        "data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link'\
        xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'\
        xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type=\
        'text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift\
        {from {transform:translateX(0);}to {transform:translateX(-20px);}}\
        %3C/style%3E%3Cpath fill='none' stroke='%23FF5A5F' stroke-width='2' class='squiggle'\
        d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 15px;
    border-bottom: 0;
    padding-bottom: .3em;
    text-decoration: none;
}


/* HEADER BLOCK >> SEARCH BLOCK */

.arch__search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background-color: #171a1c;
    text-align: center;
    cursor: pointer;
}
.arch__welcome {
    height: 375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; */
    background-image: url(../img/html_css_homework_homework6_img_header-bg.jpeg);
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    /* transform: translateZ(-1px) scale(2);
    -webkit-transform: translateZ(-1px) scale(2); */
}
.arch__welcome-title {
    padding: 0 0 44px 0;
    font-size: 27px;
    color: #ffffff;
}
.arch__welcome-cta {
    display: flex;
    justify-content: space-between;
    min-width: 360px;
    height: auto;
}
.arch__welcome-cta button {
    width: 170px;
    height: 55px;
    font-size: 18px;
    border-radius: 4px;
    border-style: none;
    color: #ffffff;
    transition: all 0.5ms ease;
    -webkit-transition: all 0.5ms ease;
}
.arch__welcome-cta .cta-subscribe {
    background-color: #89ca62;
}
.arch__welcome-cta .cta-subscribe:hover {
    color: #89ca62;
    background-color: #ffffff;
    transition: all 0.5ms ease;
    -webkit-transition: all 0.5ms ease;
}
.arch__welcome-cta .cta-read__more {
    background-color: #14b9d5;
}
.arch__welcome-cta .cta-read__more:hover {
    color: #14b9d5;
    background-color: #ffffff;
    transition: all 0.5ms ease;
    -webkit-transition: all 0.3s ease;
}


/* MOST POPULAR POSTS */

.arch__popular{
    padding: 0 0 38px 0;
    align-items: center;
    width: 100%;
    background-color: #f2f2f2;
}
.arch__popular-posts{
    margin: auto;
    display: flex;
    width: 62%;
    max-height: 900px;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: stretch;
}
.arch__popular-posts .popular__post:nth-child(3n+1) {order: 1}
.arch__popular-posts .popular__post:nth-child(3n+2) {order: 2}
.arch__popular-posts .popular__post:nth-child(3n+3) {order: 3}
.popular__post {
    width: 32%;
    margin: 0 0 32px 0;
    overflow: hidden;
}
.popular__post-image {
    width: 100%;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
}
.popular__post:hover .popular__post-image {
    opacity: 0.8;
} 
.popular__post-title {
    display: block;
    padding: 20px 0 22px 0;
    max-height: 60px;
    background: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: rgba(53, 58, 61, 255);
}


/* OUR MOST POPULAR CLIENTS */

.arch__clients{
    height: 588px;
    width: 100%;
    background-image: url(../img/html_css_homework_homework6_img_parallax-bg.jpeg);
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
}
.arch__clients-title {
    display: block;
    position: relative;
    padding-top: 200px;
    padding-bottom: 118px;
    width: 100%;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}
.arch__clients-title::after{
    content: "";
    width: 60px;
    height: 1px;
    position: absolute;
    right: 50%;
    bottom: 58px;
    border-top: 3px solid rgba(24, 180, 207, 255);
}
.arch__clients-brands {
    display: grid;
    margin: auto;
    /* width: 60%; */
    grid-template-columns: 1fr minmax(207px, 1fr) minmax(135px, 1fr) minmax(172px, 1fr) minmax(141px, 1fr) 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    column-gap: 76px;
}
.arch__clients-brands img {
    max-width: 100%;
}


/* TOP RATED */

.arch__top-rated{
    display: grid;
    /* grid-template-rows: minmax(140px, 0.4fr) minmax(190px, 0.6fr); */
    grid-template-rows: .4fr .6fr;
    grid-template-columns: repeat(7, 1fr);
    /* grid-template-columns: repeat(7, minmax(1fr, 270px)); */
    grid-template-areas: 
        "top-title top-title top-title top-title top-title top-title top-title"
        "top-item1 top-item2 top-item3 top-item4 top-item5 top-item6 top-item7";
}
.arch__top-rated-title {grid-area: top-title;}
.arch__top-rated-item1 {grid-area: top-item1}
.arch__top-rated-item2 {grid-area: top-item2}
.arch__top-rated-item3 {grid-area: top-item3}
.arch__top-rated-item4 {grid-area: top-item4}
.arch__top-rated-item5 {grid-area: top-item5}
.arch__top-rated-item6 {grid-area: top-item6}
.arch__top-rated-item7 {grid-area: top-item7}
.arch__top-rated>div{
    background: #89ca62;
}
.arch__top-rated div {
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
}
.arch__top-rated div:hover {
    opacity: 0.8;
}
.top-image > a > img {
    max-width: 100%;
}


/* HOT NEWS */

.arch__hot-grid__layout {
    display: grid;
    margin: 0 auto 71px;
    width: 65%;
    grid-template-rows: 2fr repeat(2, 3fr) 2fr;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 43px 35px;
    grid-template-areas: 
        "hot-item1 hot-item1 hot-item1 hot-item2"
        "hot-item3 hot-item3 hot-item4 hot-item4"
        "hot-item5 hot-item5 hot-item6 hot-item6"
        "hot-item7 hot-item8 hot-item8 hot-item8"
}
.arch__hot-item1 {grid-area: hot-item1; flex-direction: row;}
.arch__hot-item2 {grid-area: hot-item2; flex-direction: column;}
.arch__hot-item3 {grid-area: hot-item3; flex-direction: column;}
.arch__hot-item4 {grid-area: hot-item4; flex-direction: column;}
.arch__hot-item5 {grid-area: hot-item5; flex-direction: column;}
.arch__hot-item6 {grid-area: hot-item6; flex-direction: column;}
.arch__hot-item7 {grid-area: hot-item7; flex-direction: column;}
.arch__hot-item8 {grid-area: hot-item8; flex-direction: row;}



/* FLEXING INSIDE GRID ITEMS CONTENT */

.arch__hot-fles__block{
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: nowrap;
    background: #f9f7f7;
    text-align: right;
}
.arch__hot-fles__block a {
    display: block;
    overflow: hidden;
    width: 100%;
}
.arch__hot-fles__block img {
    width: 100%;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
}
.arch__hot-fles__block:hover img {
    opacity: 0.9;
    transform: scale(1.1);
}
.arch__hot-decription {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.arch__hot-item1 .arch__hot-decription,
.arch__hot-item8 .arch__hot-decription {
    width: 65%;
    padding: 0 24px 0 30px;
}
.arch__hot-item2 .arch__hot-decription, 
.arch__hot-item7 .arch__hot-decription {
    margin: 20px 0 0 0;
    align-items: center;
}
.arch__hot-item3 .arch__hot-decription,
.arch__hot-item4 .arch__hot-decription,
.arch__hot-item5 .arch__hot-decription,
.arch__hot-item6 .arch__hot-decription{
    height: 37.7%;
    padding: 0 27px 0  22px;
}
.arch__hot-decription h4{
    color: rgba(53, 58, 61, 255);
    font-size: 16px;
    font-weight: 700;
}
.arch__hot-decription p{
    color: rgba(91, 100, 105, 255);
    font-size: 12px;
}


/* FOOTER */

footer {
    width: 100%;
    height: 80px;
    background: #1d2124;
    color: #ffffff;
}
.footer-grid__layout{
    width: 62%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}
.footer-grid-item1 {
    font-size: 13px;
    text-align: left;
}
.footer-grid-item2 {
    text-align: right;
}
.footer-grid-item2 span {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
}