/* Parent block */
#this_content {
    text-align: center;
    font-family: 'Roboto Black', sans-serif;
    color: rgb(68, 68, 68);
    font-size: 24px;
}
/* Img content */
#photo_content {
    width: 100%;
    height: 780px;
    background-image: 
        repeating-linear-gradient(135deg, 
            transparent, 
            rgba(245, 246, 252, 0.34) 3px, 
            transparent,
            rgba(100, 72, 93, 0.4) 3px), 
        url(../img/photo-1565058535224-6a03703a3994.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Text content */
#main_content {
    margin: 0 100px;
    padding: 50px 0 95px 0;
    background-color: rgb(245, 246, 247);
}
#main_content h2 {
    margin: 0 0 40px 0;
    text-transform: uppercase;
}
.text_content {
    margin: 0 0 40px 0;
    font-size: 0.6em;
}

/* Button */
#get_started_but {
    width: 192px;
    border: none;
    padding: 10px 0;
    background-color: rgb(22, 160, 133);
    font-size: 0.5em;
    text-transform: uppercase;
}
#get_started_but a {
    color: rgb(256, 256, 256);
}

/* Header navigation */
#header_pan {
    display: block;
    position: relative;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 35px;
    width: 57.81%;
}
.nav_block {
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 1em;
    text-transform: uppercase;
}
.nav_block a {
    color: rgb(22, 160, 133);
}

/* Url style configuration */
a, a:active, a:focus, a:hover, a:visited {
    text-decoration: none;
}

/* Footer navigation */
#footer_pan {
    display: block;
    margin: 50px 100px;
}
.footer_content {
    width: 100%;
    display: inline-block;
}
#footer_pan  a{
    color: rgb(68, 68, 68);
}
.footer_content:first-of-type {
    text-align: left;
    text-transform: uppercase;
    font-size: 0.75em;
}
.footer_content span {
    margin-right: 10px;
}
.footer_content:first-of-type span:nth-child(2n)::after,
.footer_content:first-of-type span:first-child::after {
    content: "|";
    color: rgb(22, 160, 133);
    margin-left: 10px;
}
.footer_content:last-of-type {
    text-align: right;
    font-size: 0.6em;
}

/* Device optimization */
@media screen and (min-width: 1024px) {
    #header_pan {
        width: 70%;
    }
}