html {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a, a:link, a:hover, a:visited, a:focus {
    text-decoration: none;
    outline: none;
}
#container {
    width: 100%;
    height: 100vh;
    background-image: url(../img/bg/rana-sawalha.png);
    background-size: cover;
    background-repeat: no-repeat;
}


/* HEADER BLOCK */

.content__header {
    /* display: flex; HOMEWORK JS 13 ADD-ON */
    /* align-items: center; */
    /* justify-content: space-between; */
    position: relative;
    width: 100%;
    height: 7.25%;
    max-height: 56px;
    background: rgba(0, 0, 0, 0.4);
}
.content__header-logo {
    float: left;
    margin: 22px 0 19px 81px;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
}
.content__header-logo a {
    color: #ffffff;
}
.content__header-logo a:hover {
    color: rgba(60, 184, 120, 255);
}

/* HOMEWORK JS 13 ADD-ON START */
.content__header-theme__switcher {
    position: absolute;
    top: 20px;
    left: 200px;
}
.content__header-theme__switcher > button {
    font-size: 0.8rem;
    color: rgba(60, 184, 120, 255);
    background: rgba(255, 255, 255, 1);
    border-style: none;
}

/* HOMEWORK JS 13 ADD-ON END */
.content__header-welcome {
    float: right;
    margin: 22px 75px 19px 24px;
    padding: 0 0 0 24px;
    border-left: 1px solid rgba(0, 0, 0, 0.4);
    font-size: 0.7rem;
    color: #ffffff;
}
.content__header-welcome a {
    color: rgba(60, 184, 120, 255);
}
.content__header-welcome a:hover {
    text-decoration: underline;
}

.content__header-nav__icons {
    float: right;
    display: block;
    margin: 19px 25px 18px 0;
}
.content__header-nav__icons .nav__icon1,
.content__header-nav__icons .nav__icon2,
.content__header-nav__icons .nav__icon3 {
    display: inline-block;
    margin: 0 0 0 28px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url(../img/sprites/header-sprites.png);
}
.nav__icon1 {
    width: 20px;
    height: 20px;
    background-position: 0 0;
}
.nav__icon2 {
    width: 28px;
    height: 20px;
    background-position: -47px 0;
}
.nav__icon3 {
    width: 20px;
    height: 20px;
    background-position: -103px 0;
}
.nav__icon1:hover,
.nav__icon2:hover,
.nav__icon3:hover {
    background-image: url(../img/sprites/header-sprites-hover.png);
}


/* SIGN UP BLOCK */

.content-sign__up {
    width: 100%;
    height: 92.75%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-sign__up-form {
    width: 444px;
    background: rgba(255, 255, 255, 1);
    border-radius: 8px;
}
.sign__up-form {
    width: 325px;
    margin: 29px auto 32px;
    text-align: center;
}   
.sign__up-form__header, 
.sign__up-form__social__networks {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: baseline;
}
.sign__up-form__header {
    margin: auto;
}
.sign__up-form__header-sign__up {
    font-size: 1rem;
    color: rgba(67, 67, 67, 1);
    text-transform: capitalize
}
.sign__up-form__header-sign__up::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: -59.5px;
    width: 18px;
    height: 18px;
    background: rgba(60, 184, 120, 255);
}
.sign__up-form__header-log__in {
    display: block;
    font-size: 0.7rem;
    color: rgba(60, 184, 120, 255);
    text-transform: capitalize;
}
.sign__up-form__header-log__in:hover {
    text-decoration: underline;
}


/* SIGN UP BLOCK -> SOCIAL MEDIA BUTTONS */

.sign__up-form__social__networks {
    margin: 15px 0 33px 0;
}
.social__network-facebook,
.social__network-google {
    display: block;
    width: 157px;
    height: 46px;
    font-size: 0.8rem;
    font-weight: lighter;
    color: rgba(255, 255, 255, 1);
    border-radius: 2px;
    cursor: pointer;
}
.social__network-facebook {
    background: rgba(48, 93, 184, 1);
}
.social__network-google {
    background: rgba(223, 74, 50, 1);
}
.social__network-icon {
    float: left;
    height: 20px;
    text-align: center;
    background: url(../img/sprites/networks-sprites.png) no-repeat;
}
.social__network-icon.facebook {
    background-position: 0 0;
    margin: 13px 0 13px 20px;
    width: 26px;
}
.social__network-icon.google {
    background-position: -157px 0;
    margin: 15px 0 15px 13px;
    width: 33px;
}
.social__network-facebook .social__network-name,
.social__network-google .social__network-name {
    float: right;
    padding: 5px 0 7px 0;
    margin: 9px 0;
    width: 109px;
    text-align: center;
    border-left: 1px solid rgba(67, 67, 67, 0.2);
}
.social__network-facebook:hover {
    background: rgba(38, 75, 150, 1);
}
.social__network-google:hover {
    background: rgba(195, 65, 44, 1);
}

/* DIVIDER */

.sign__up-form .divider {
    font-size: 0.7rem;
    color: rgba(132, 132, 132, 255);
    margin: 0 0 18px 0;
}
.sign__up-form .divider span {
    display: inline-block;
    position: relative;
}
.sign__up-form .divider span::before {
    right: 100%;
    margin: 0 15px 0 0;
}
.sign__up-form .divider span::after {
    left: 100%;
    margin: 0 0 0 15px;
}
.sign__up-form .divider span::before,
.sign__up-form .divider span::after{
    content: "";
    position: absolute;
    top: 8px;
    display: block;
    width: 141px;
    height: 1px;
    border-top: 1px solid #eaeaea;
}


/* SIGN UP FORM -> CREDENTIALS INPUTS */


.sign__up-form__credentials legend {
    text-align: center;
    border-left: 19px solid #ffffff;
    border-right: 19px solid #ffffff;
    font-size: 0.7rem;
    color: rgba(132, 132, 132, 255);
}

.sign__up-form__credentials input,
.sign__up-form__submit input {
    height: 44px;
    width: 306px;
}
.sign__up-form__credentials input {
    margin: 0 0 8px 0;
    border: 1px solid #eaeaea;
    border-radius: 2px;
    font-size: 0.7rem;
    font-weight: 700;
    padding: 0 0 0 19px;
}
.sign__up-form__credentials input::placeholder {
    color: rgba(190, 190, 190, 255);
}
.sign__up-form__credentials input:focus {
    outline: none;
    box-shadow: 0 0.1rem 0.3rem #dbdbdb;
}
.sign__up-form__credentials input:focus::placeholder {
    color: transparent;
    opacity: 0;
}


/* GDPR COMPLIANCE AGREEMENT */

.sign__up-form__gdpr input[type="checkbox"] {
    display: none;
}

/* TOGGLE BOX DECISION */

.gdpr__compliance-toggle {
    margin: auto;
    cursor: pointer;
    user-select: none;
}
.gdpr__compliance-toggle .toggle__box {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    transition: .2s ease;
}

.gdpr__compliance-toggle .toggle__box::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(60, 184, 120, 255);
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
}
.gdpr__compliance-toggle .toggle__box svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #ffffff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all .3s ease;
    transition-delay: .1s;
    transform: translate3d(0,0,0);
}

.sign__up-form__gdpr {
    margin: 16px 0 0 0;
    font-size: 0.7rem;
    font-weight: 700;
    text-align: left;
}
.sign__up-form__gdpr a {
    color: rgba(60, 184, 120, 255);
}
.sign__up-form__gdpr a:hover {
    text-decoration: underline;
}
#gdpr__compliance-item:checked + .gdpr__compliance-toggle .toggle__box {
    animation: wave .4s ease;
}
#gdpr__compliance-item:checked + .gdpr__compliance-toggle .toggle__box::before {
    transform: scale(3.5);
    opacity: 0;
    transition: all .6s ease;
}
#gdpr__compliance-item:checked + .gdpr__compliance-toggle .toggle__box svg {
    stroke: rgba(60, 184, 120, 255);
    stroke-dashoffset: 0;
}


/* SUBMIT BTTM  */

.sign__up-form__submit input {
    width: 100%;
    margin: 28px auto 0;
    border: 1px solid rgba(60, 184, 120, 255);
    background: rgba(60, 184, 120, 255);
    color: #ffffff;
    font-size: 0.8rem; 
    border-radius: 2px;
}
.sign__up-form__submit input:hover {
    background: #329a65;
}
